#divForm {
	width: 50%;
	margin-left: 25%;
}

#divCodigo, #divComponente {
	width: 50%;
}

#divCantidad {
	width: 33%;
}

#colCodigo, #colComponente, #colCantidad {
	width: 33%;
}

#divPzRechazadas, #divEmpleado, #divProduccion {
	width: 30%;
}

#divFecha, #divNumLinea {
	width: 40%;
}

#divFamilia, #divModelo, #divOperacion {
	width: 70%;
}