/*Estilo de login.html*/
#content_login {
	width: 50%;
	margin-top: 10%;
	margin-left: 25%;
}

/*Estilo del menu principal*/
#menu_principal { background-color: #111; }

/*Estilo de celdas*/
span { text-align: center; }

#divMenuPrincipal { width: 100%; }

/*Estilo de las tablas*/
table, th, tr {
	border: 1px solid black;
	border-style: outset;
	border-radius: 1px;
}

/*Estilo de filas al pasar el mouse*/
tr:hover td {
	background-color: #333333;
	border: 3px outside #262626;
}


/*Reduce el espacio del form de la parte de arriba*/
.ui-panel-wrapper {
    position: static;
    min-height: 100px;
    border: 0;
    overflow-x: hidden;
    z-index: 999;
}

/*Estilo de index.html*/

/*Estilo de fam&mod.html*/
#divTabla_Operaciones {
	height: 760px;
	width: 600px;
	overflow: auto;
}

#divTabla_FM {
	width: 100%;
	height: 400px;
	overflow: auto;
}

#divForm_FM {
	width: 70%;
	margin-left: 15%; 
}

#divBtnsModelos_FM { margin-left: 125px; }

#divBtnsFamilias_FM { margin-left: 1px; }

#pop_inputAgregaModelo_FM { width: 100%; }

.ui-content { display: inline-block; }

#divBtnsOp_FM { width: 103%; }

/*Estilo de operaciones.html*/
#divForm_Op {
	width: 70%;
	margin-left: 15%;
}

#divContentModelo_Op, #divContentComponentes { width: 25%; }

#divTabla_Op {
	width: 50%;
	max-height: 590px;
	overflow: auto;
}

/*Estilo de componentes.html*/
#divFormComp {
	width: 70%;
	margin-left: 15%;
}

#divContentModelo_Comp { width: 25%; }

#divLvwComponentes_Comp {
	width: 25%;
	height: 445px;
	overflow: auto;
	border: 5px solid black;
	border-style: inset;
}

/*Estilo de codigos_de_falla.html*/
#divTabla_CDF {
	width: 60%;
	height: 600px;
	overflow: auto;
}

#divForm_CDF {
	width: 70%;
	margin-left: 15%;
}

#divContentModelo_CDF { width: 25%; }

/*Estilo de registros.html*/
#divForm_Reg {
	width: 100%;
	text-align: center;
}

#divTabla_Reg {
	width: 100%;
	max-height: 500px;
	overflow: auto;
}

.ui-grid-b {
	width: 50%;
	margin-left: 25%;
}

#tabla_Reg { width: 50%; }

/*Estilo de desempeno.html*/
#divForm_Des { width: 100%; }

#sectA {
	width: 20%;
	margin-left: 15%;
}

#sectB {
	width: 80%;
	margin-left: -15%;
}

#divTabla_Des {
	width: 100%;
	height: 400px;
	overflow: auto;
}

#selectFamilia_Des, #selectModelo_Des { width: 100%; }

/*Estilo de tendencia.html*/
#divForm_Tend { width: 100%; }

#subsectA_tend {
	width: 50%;
	margin-left: 15%;
}

#sectB_tend { margin-left: -10%; }

#divTabla_Tend {
	width: 100%;
	max-height: 500px;
	overflow: auto;
}

#selectFamilia_Tend, #selectModelo_Tend { width: 100%; }

#fieldSetBtns_Tend { margin-left: 440px; }

#divFlipDatos_Tend { margin-left: 625px; }

#tablaTendencia { width: 100%; }

#colSeleccion_Tend { width: 10%; }

/*Ajuste del flip*/
.containing-element .ui-slider-switch { 
	width: 9em;
	margin-left: -140px;
}

#lblMostrar_Tend { margin-left: -130px; }

#cantComponentes_Tend { width: 100%; }

#divCodigos_Tend, #divComponentes_Tend { width: 15%; }

/*Estilo de contribuyentes.html*/
#divForm_Cont { width: 100%; }

#tabla_Cont { width: 100%; }

#sectA_contr { width: 50%; }

#sectB_contr { margin-left: -70%; }

#tabla_Cont { width: 80%; }

#selectModelo_Cont, #selectFamilia_Cont { width: 100%; }

#divCodigos_contr, #divComponentes_contr { width: 40%; }

#colSeleccion_Cont { width: 10%; }

/*Estilo de correccion_de_datos.html*/
#divForm_CDD { width: 100%; }

#subsecsectA_CD { 
	margin-left: -25%;
	width: 40%;
}

#sectB_CD { margin-left: -15%; }

#tabla_CDD { width: 100%; }

#divTabla_CDD {
	width: 120%;
	max-height: 500px;
	overflow: auto;
}

#divCodigos_CDD, #divOperaciones_CDD, #divModelo_CDD, #divFechaFinal_CDD, 
#divComponente_CDD, #divFamilia_CDD, #divFechaInicial_CDD, #divSelectLinea_CDD { width: 100%; }

/*Estilo de permisos.html*/
#divForm_Perm {
	width: 100%;

}

#divUserPassword {
	width: 40%;
	margin-left: 30%;
}

/*Estilo de separador*/
hr {
	border: 3px solid black;
	border-style: inset;
}