#divForm {
	width: 50%;
	margin-left: 25%;
}

.ui-block-b {

}
#divFecha, #divTurno, #divLinea, #divEmpleado  {
	width: 70%;
}

#divFamilia, #divModelo, #divOperacion, #divCodigo, #divComponente {
	width: 50%;
}

#divCodigo, #divComponente, td {
	height: 20%;
}