table, th, tr, td {
	border: 5px solid black;
	border-style: outset;
	border-radius: 5px;
}

#divTable {
	width: 100%;
	height: 445px;
	overflow: auto;
	border: 5px solid black;
	border-style: inset;
}